/*contacto*/
.title{
    color:var(--grey-dark);
}
.contacto{
    display: flex;
    flex-direction: column;
}
input[type="text"],[type="email"],[type="date"]{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;

}
select{
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 3px;
}
input[type="submit"]{
    
    width: 80%;
    display:block;
    background-color: var( #000000);
    color: var(#F0F8A4);
    padding: 15px;
}
textarea{
    width: 100%;
    border: 1px solid gray;
    padding: 3px;

}
.contacto .col{
    padding: 30px;
}
.pb-80{
    padding-bottom: 80px;
}
.mapa{
    white:100%;
    height:auto;
}