@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-color:#36656B;
    --secundary-color:#75B06F;
    --terciary-color:#F0F8A4;
    --white:#ffffff;
    --black:#000000;
    --grey-dark: #021526;
}
body{
    margin:0;
    padding:0;
    font-family: "poppins", sans-serif;
    font-weight: 400; 
    font-size: 1rem;
}
html{
    box-sizing: border-box;
}
/*para que se ensanche hacia adentro osea no haya linea de abajo*/
*,*:before,*after{
    box-sizing: inherit;
}
header{
    background-color: var(--main-color);
    color:white;
    display:flex;
    justify-content: space-between;
    padding:50px 60px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
a:hover:{
  text-decoration: none;  
}
.logo{
    width: 200px;
}
.main-menu{
    display: flex;
    gap: 15px;
}

.main-menu li a{
    color: var(--secundary-color);
}
.main-menu li a:hover{
    color:var(--white)
}

/*quienes somos*/
.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr; /*se divide en dos columnas*/
    color: var(--black);
    font-size: 16px;
}
.img-fluid{
    max-width: 600px;
}
.padding-50px{
    padding: 50px 30px;
}
.padding-80px{
    padding: 80px 20px;
}
h2{
    font-size: 2rem;
}
.main-color-font{
    color:var(--black);
}
p{
    font-size: 1rem;
    font-weight: 400;
}
.btn-main-color{
    width:300px;
    background-color: var(#36656B);
    color: var(#000000);
    font-size: 1rem;
    padding: 15px 20px;
}
.btn-main-color:hover{
    background-color: var(--black);
    color: var(--secundary-color);
}

/*servicios*/
.container-fluid{
    width: 100%;
}
.grey-dark{
    background-color:beige;
    color:#021526;
}
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 90px; /*agrega espacio entre las filas de mis cuadros*/
}
.center{
    text-align: center;
}
.cyan {
    color: var(--secundary-color)
}
/*cuando le pones el "hover" si le pasas el mause cambia de color*/
.cyan:hover{ 
    color: var(--grey-dark)
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 30px;
}
.logo-footer{
    width : 250px;
}
.black{
    background-color: var(--grey-dark);
    color: var(--terciary-color);
}
.footer ul li a{
    color: var(--white)
}
.footer ul li a:hover{
    color: var(--secundary-color)
}
.footer h3{
    color: var(--grey-dark);
    padding-left: 40px;
}
.social-icone a{
    color: var(--secundary-color);
    font-size: 1rem;
    padding-left: 25px;
}
.social-icone a:hover{
    color: #75B06F;

}
/*contacto*/
.title{
    color:var(--grey-dark);
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input[type="text"],[type="email"],[type="date"]{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;

}
select{
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 3px;
}
input[type="submit"]{
    
    width: 80%;
    display:block;
    background-color: var( #000000);
    color: var(#F0F8A4);
    padding: 15px;
}
textarea{
    width: 100%;
    border: 1px solid gray;
    padding: 3px;

}
.contacto .col{
    padding: 30px;
}
.pb-80{
    padding-bottom: 80px;
}